.mainWrap {
    width: 80vw;
    margin: 0 auto;
    background-color: rgba(
        235.0000011920929,
        233.00000131130219,
        234.00000125169754,
        1
    );
    position: relative;
}
