.infoWrap {
    width: 600px;
    height: 500px;
    background-color: blue;
    transition: 0.5s;
    box-sizing: 0;
}

.item__img {
    width: 500px;
    height: 500px;
    transition: 0.5s;
}
.item__name {
    margin: 5px;
}

.item__cost {
    margin: 5px 0 40px 0;
}
