nav {
    background-color: white;
    height: 90px;
    width: 80vw;
    box-shadow: rgb(0, 0, 0, 0.2) 0px 3px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "PretendardTtfMedium";
    position: fixed;
    z-index: 10000;
    left: 9.666%;
    top: 0;
}
nav > div {
    width: 250px;
}

.logoWrap {
    font-family: "PretendardTtfBold";
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
}

.logo__img {
    width: 40px;
    height: 20px;
    margin: 0 5px 0 0;
    background-color: gray;
    display: inline-block;
}

.focusBtnWrap {
    width: 340px;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
}

.donateWrap {
}

.donateBtn {
    font-size: 1rem;
    color: white;
    cursor: pointer;
    background-color: white;
    font-family: "PretendardTtfMedium";
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    width: 100px;
    background-color: rgba(
        8.455056454986334,
        40.66172830760479,
        103.18056017160416,
        1
    );
    transition: 0.5s;
    box-sizing: border-box;
}
.donateBtn:hover,
.donateBtn:active {
    width: 150px;
    color: rgba(8.455056454986334, 40.66172830760479, 103.18056017160416, 1);
    background-color: white;
}
