body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(17, 17, 17);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@font-face {
    font-family: "PretendardTtfBold";
    src: url("./fonts/Pretendard-Bold.ttf");
}
@font-face {
    font-family: "PretendardTtfRegular";
    src: url("./fonts/Pretendard-Regular.ttf");
}
@font-face {
    font-family: "PretendardTtfSemiBold";
    src: url("./fonts/Pretendard-SemiBold.ttf");
}
@font-face {
    font-family: "PretendardTtfMedium";
    src: url("./fonts/Pretendard-Medium.ttf");
}
